<div class="auth-page">
	<section class="auth-page--container">
		<img src="/assets/img/logo.svg" class="logo" alt="convoy logo" />

		<ng-container *ngIf="activePage === 'reset-password'">
			<h3>Set a new password, 🔐</h3>
			<p>Kindly enter and set up a new password for your account.</p>

			<form [formGroup]="resetPasswordForm" class="card" (ngSubmit)="resetPassword()">
				<div class="input">
					<div class="input--password">
						<input [type]="showPassword ? 'text' : 'password'" autocomplete="new-password" placeholder="Enter your password" formControlName="password" />
						<button class="input--password__view-toggle" (click)="showPassword = !showPassword" type="button">
							<img [src]="!showPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'" alt="showPassword ? 'hide password icon' : 'view password icon'" />
						</button>
					</div>
				</div>

				<div class="input">
					<div class="input--password">
						<input [type]="showCofirmPassword ? 'text' : 'password'" autocomplete="new-password" placeholder="Confirm your password" formControlName="newPassword" />
						<button class="input--password__view-toggle" (click)="showCofirmPassword = !showCofirmPassword" type="button">
							<img
								[src]="!showCofirmPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
								alt="showPassword ? 'hide password icon' : 'view password icon'"
							/>
						</button>
					</div>
				</div>

				<div class="button-container margin-top">
					<button class="primary full-100">Change your password</button>
				</div>
			</form>
		</ng-container>

		<ng-container *ngIf="activePage === 'success'">
			<img src="/assets/img/password-reset-success-img.svg" class="success-img" alt="password reset success image" />
			<h3>Password reset successful! 🔐</h3>
			<p>The password for your account has been reset successfully</p>

			<button class="white full-100">Continue to your workspace</button>
		</ng-container>
	</section>
</div>
