<div class="account-page page page__small">
	<div class="account-page--nav">
		<div class="account-page--head">
			<h2>User Settings</h2>
		</div>
		<ul class="account-page--nav--items">
			<li class="account-page--nav--item" [ngClass]="{ active: activePage === 'profile' }">
				<button (click)="activePage = 'profile'" class="clear">Profile</button>
			</li>
			<li class="account-page--nav--item" [ngClass]="{ active: activePage === 'security' }">
				<button (click)="activePage = 'security'" class="clear">Security</button>
			</li>

			<hr />

			<li class="account-page--nav--item logout" (click)="logout()">
				<a href="">Logout</a>
			</li>
		</ul>
	</div>

	<div class="account-page--view">
		<ng-container *ngIf="activePage === 'profile'">
			<div class="user-details--head">
				<div>
					<img src="/assets/img/mimoji.png" alt="profile image" />
					<!-- not available yet  -->
					<!-- <button class="white">Edit Photo</button> -->
				</div>

				<button class="primary" [disabled]="savingDetails" (click)="editBasicUserInfo()">{{ savingDetails ? 'Saving changes...' : 'Save Changes' }}</button>
			</div>

			<h2>Basic Info</h2>

			<form [formGroup]="editBasicInfoForm">
				<div class="input small">
					<div class="input--error-message" *ngIf="editBasicInfoForm.controls.firstname.touched && editBasicInfoForm.controls.firstname.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Field cannot be empty</span>
					</div>
					<input
						type="text"
						aria-label="first name"
						placeholder="firstname"
						formControlName="firstname"
						[ngClass]="{ invalid: editBasicInfoForm.controls.firstname.touched && editBasicInfoForm.controls.firstname.invalid }"
					/>
					<label for="email">Firstname</label>
				</div>
				<div class="input small">
					<div class="input--error-message" *ngIf="editBasicInfoForm.controls.lastname.touched && editBasicInfoForm.controls.lastname.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Field cannot be empty</span>
					</div>
					<input
						type="text"
						aria-label="last name"
						placeholder="lastname"
						formControlName="lastname"
						[ngClass]="{ invalid: editBasicInfoForm.controls.lastname.touched && editBasicInfoForm.controls.lastname.invalid }"
					/>
					<label for="email">Lastname</label>
				</div>

				<div class="input">
					<div class="input--error-message" *ngIf="editBasicInfoForm.controls.email.touched && editBasicInfoForm.controls.email.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Field cannot be empty</span>
					</div>
					<input
						type="email"
						aria-label="email"
						placeholder="email"
						formControlName="email"
						[ngClass]="{ invalid: editBasicInfoForm.controls.email.touched && editBasicInfoForm.controls.email.invalid }"
					/>
					<label for="email">Email Address</label>
				</div>
			</form>
		</ng-container>

		<ng-container *ngIf="activePage === 'security'">
			<div class="user-details--head">
				<div class="password">
					<h3>Change Password</h3>
					<p>Here you can change your password incase you’ve been compromised</p>
				</div>

				<button class="primary" [disabled]="changingPassword" (click)="changePassword()">{{ changingPassword ? 'Saving changes...' : 'Save Changes' }}</button>
			</div>
			<form [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
				<div class="input without-margin">
					<div class="input--error-message" *ngIf="changePasswordForm.controls.current_password.touched && changePasswordForm.controls.current_password.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter current password</span>
					</div>
					<div class="input--password">
						<input
							[type]="passwordToggle.oldPassword ? 'text' : 'password'"
							id="current_password"
							name="current_password"
							autocomplete="current-password"
							placeholder="Enter your password"
							formControlName="current_password"
							[ngClass]="{ invalid: changePasswordForm.controls.current_password.touched && changePasswordForm.controls.current_password.invalid }"
						/>
						<label for="current_password">Confirm Password</label>
						<button class="input--password__view-toggle" (click)="passwordToggle.oldPassword = !passwordToggle.oldPassword" type="button">
							<img
								[src]="!passwordToggle.oldPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
								[alt]="passwordToggle.oldPassword ? 'hide password icon' : 'view password icon'"
							/>
						</button>
					</div>
				</div>
				<p>
					Forgot password?
					<button class="primary clear" type="button" [routerLink]="['/forgot-password']">Reset it here</button>
				</p>
				<div class="input">
					<div class="input--error-message" *ngIf="changePasswordForm.controls.password.touched && changePasswordForm.controls.password.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Enter new password</span>
					</div>
					<div class="input--password">
						<input
							[type]="passwordToggle.oldPassword ? 'text' : 'password'"
							id="password"
							name="password"
							autocomplete="password"
							placeholder="Enter your password"
							formControlName="password"
							[ngClass]="{ invalid: changePasswordForm.controls.password.touched && changePasswordForm.controls.password.invalid }"
						/>
						<label for="password">New Password</label>
						<button class="input--password__view-toggle" (click)="passwordToggle.oldPassword = !passwordToggle.oldPassword" type="button">
							<img
								[src]="!passwordToggle.oldPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
								[alt]="passwordToggle.oldPassword ? 'hide password icon' : 'view password icon'"
							/>
						</button>
					</div>
				</div>
				<div class="input">
					<div class="input--error-message" *ngIf="changePasswordForm.controls.password_confirmation.touched && changePasswordForm.controls.password_confirmation.invalid">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Confirm new password</span>
					</div>
					<div
						class="input--error-message"
						*ngIf="
							changePasswordForm.controls.password.valid && changePasswordForm.controls.password_confirmation.valid && changePasswordForm.controls.password_confirmation.touched && !passwordsMatch
						"
					>
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Passwords do not match</span>
					</div>
					<div class="input--password">
						<input
							[type]="passwordToggle.oldPassword ? 'text' : 'password'"
							id="password_confirmation"
							name="password_confirmation"
							autocomplete="password_confirmation"
							placeholder="Enter your password"
							formControlName="password_confirmation"
							(input)="checkPassword()"
							[ngClass]="{
								invalid:
									(changePasswordForm.controls.password_confirmation.touched && changePasswordForm.controls.password_confirmation.invalid) ||
									(changePasswordForm.controls.password.valid &&
										changePasswordForm.controls.password_confirmation.valid &&
										changePasswordForm.controls.password_confirmation.touched &&
										!passwordsMatch)
							}"
						/>
						<label for="password_confirmation">Confirm Password</label>
						<button class="input--password__view-toggle" (click)="passwordToggle.oldPassword = !passwordToggle.oldPassword" type="button">
							<img
								[src]="!passwordToggle.oldPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
								[alt]="passwordToggle.oldPassword ? 'hide password icon' : 'view password icon'"
							/>
						</button>
					</div>
				</div>
			</form>

			<div class="plan full-width">
				<img src="/assets/img/ideas.svg" alt="idea" />
				<div>
					<p>Use a strong password with at least 8 characters long, and having a mixed of letters, numbers, and symbols.</p>
				</div>
			</div>
		</ng-container>
	</div>
</div>
