<div class="auth-page">
	<section class="auth-page--container">
		<img src="/assets/img/logo.svg" class="logo" alt="convoy logo" />
		<h3>Welcome back to Convoy</h3>
		<p>Log in to your workspace to continue</p>

		<form [formGroup]="loginForm" class="card" (ngSubmit)="login()">
			<div class="input login">
				<input type="email" aria-label="email" name="email" autocomplete="email" formControlName="email" placeholder="Jane Doe" />
				<div class="input-floating-label">Email Address</div>
				<div class="input--error-message" *ngIf="loginForm.controls.email.touched && loginForm.controls.email.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Email is required</span>
				</div>
			</div>

			<div class="input login">
				<div class="input--password">
					<input [type]="showLoginPassword ? 'text' : 'password'" id="password" name="password" autocomplete="current-password" placeholder="Enter your password" formControlName="password" />
					<div class="input-floating-label">Passsword</div>
					<button class="input--password__view-toggle" (click)="showLoginPassword = !showLoginPassword" type="button">
						<img
							[src]="!showLoginPassword ? '/assets/img/password-invisible-icon.svg' : '/assets/img/password-visible-icon.svg'"
							[alt]="showLoginPassword ? 'hide password icon' : 'view password icon'"
						/>
					</button>
				</div>
				<div class="input--error-message" *ngIf="loginForm.controls.password.touched && loginForm.controls.password.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Password is required</span>
				</div>
			</div>
			<p>
				Forgot password?
				<button class="primary clear" type="button" [routerLink]="['/forgot-password']">Reset it here</button>
			</p>

			<div class="button-container margin-top">
				<button [disabled]="disableLoginBtn" class="primary full-100">
					{{ disableLoginBtn ? 'loading....' : 'Login' }}
				</button>
			</div>
		</form>

		<button class="white full-100" [routerLink]="['/signup']">Create a new account in 1min</button>
	</section>
</div>
