.groups-page {
	.groups {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(336px, 1fr));
		gap: 24px 32px;

		.group {
			background: #ffffff;
			border: 1px solid #edeff5;
			border-radius: 8px;

			img {
				width: 100%;
			}

			&--head {
				padding: 24px 24px 14px;
				border-bottom: 1px solid #edeff5;

				h4 {
					font-weight: 500;
					font-size: 14px;
					line-height: 22px;
					color: #000624;
					&:hover{
						cursor: pointer;
					}
				}
			}

			&--metric {
				display: flex;
				align-items: center;
				border-bottom: 1px solid #edeff5;

				div {
					padding: 8px 24px;
					font-weight: 500;
					font-size: 12px;
					line-height: 200%;
					color: #737a91;

					&:not(:last-of-type) {
						border-right: 1px solid #eaedf3;
					}
				}

				span {
					font-weight: 500;
					font-size: 12px;
					line-height: 200%;
					color: #16192c;
					margin-right: 8px;
				}

				&-app {
					display: flex;
					justify-content: space-between;
					align-items: center;
					width: 57%;
					button {
						background: transparent;
						border: none;
						padding: 0;
					}
				}
			}

			&--body {
				height:109px;
				padding-top: 16px;
				:hover{
					cursor: pointer;
				}
			}
		}
	}
}
.group-settings {
	li {
		display: flex;
		padding: 16px 0;
		border-bottom: 1px solid #edeff5;
		width: 100%;
		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			color: #000624;
			width: 170px;
		}
		.setting {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			span {
				font-weight: 500;
				color: #737a91;
				font-size: 14px;
				line-height: 22px;
			}
			button {
				background: transparent;
				border: none;
				padding: 0;
			}
		}
	}
}
