<div class="page">
	<div class="loader" *ngIf="showLoader">
		<app-loader></app-loader>
	</div>
</div>
<div class="groups-page page" *ngIf="!noData && !showLoader">
	<div class="page--head">
		<div>
			<h1>Projects</h1>
			<p>All your project's summary at a glance</p>
		</div>

		<button class="primary" (click)="showCreateGroupModal = true; currentId = ''">Create Project</button>
	</div>

	<ul class="groups">
		<li *ngFor="let group of groups">
			<div class="group">
				<div class="group--head">
					<h4 (click)="viewGroup(group.id)">{{ group.name }}</h4>
				</div>
				<div class="group--metric">
					<div>
						<span>{{ group?.statistics?.messages_sent }}</span>
						Message Sent
					</div>
					<div class="group--metric-app">
						<div>
							<span>{{ group?.statistics?.total_apps }}</span>
							Apps
						</div>
						<button (click)="showDropdown(group.id)">
							<img src="/assets/img/more-horizontal.svg" alt="more" />
						</button>
					</div>
				</div>
				<div class="group--body" (click)="viewGroup(group.id)">
					<img src="/assets/img/chart-icon.svg" alt="graph icon" />
				</div>
			</div>
			<div *ngIf="currentId == group.id" class="drop-down groups">
				<ul>
					<li (click)="viewGroup(group.id)">
						<p>View Project</p>
					</li>
					<li (click)="viewGroupSettings(group)">
						<p>Project settings</p>
					</li>
					<li (click)="selectedGroup = group; showDeleteGroupModal = true; currentId = ''">
						<p class="delete">Delete Project</p>
					</li>
				</ul>
			</div>
		</li>
	</ul>
</div>

<div class="page" *ngIf="noData && !showLoader">
	<div class="page--empty-state">
		<div class="page--empty-state--img">
			<img src="/assets/img/group-empty-img.svg" alt="add group empty" />
		</div>
		<h4>You have no project yet</h4>
		<p>All your project's summary at a glance</p>
		<button class="primary" (click)="showCreateGroupModal = true">Create Project</button>
	</div>
</div>

<div class="_overlay" *ngIf="showCreateGroupModal || showGroupSettingModal || showDeleteGroupModal"></div>
<div class="modal modal__right" *ngIf="showCreateGroupModal">
	<app-create-group (closeModal)="closeCreateGroupModal($event)" [selectedGroup]="selectedGroup" [editMode]="editMode"></app-create-group>
</div>

<div class="modal modal__right" *ngIf="showGroupSettingModal">
	<div class="modal--head">
		<h1>{{ selectedGroup?.name }}</h1>
		<button class="modal--close clear" (click)="showGroupSettingModal = false">
			<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
		</button>
	</div>
	<div class="modal--body">
		<div class="group-settings">
			<ul>
				<li>
					<div>
						<p>Retry Strategy</p>
					</div>
					<div class="setting">
						<span>{{ selectedGroup?.config?.strategy?.default?.intervalSeconds }}secs</span>
						<!-- pending discussion -->
						<!-- <button>
							<img src="/assets/img/copy.svg" alt="copy" />
						</button> -->
					</div>
				</li>
				<li>
					<div>
						<p>Retry Limit</p>
					</div>
					<div class="setting">
						<span>
							{{ selectedGroup?.config?.strategy?.default?.retryLimit }}
						</span>
						<!-- pending discussion -->
						<!-- <button>
							<img src="/assets/img/copy.svg" alt="copy" />
						</button> -->
					</div>
				</li>
				<li>
					<div>
						<p>Header</p>
					</div>
					<div class="setting">
						<span>
							{{ selectedGroup?.config?.signature?.header }}
						</span>
						<!-- pending discussion -->
						<!-- <button>
							<img src="/assets/img/copy.svg" alt="copy" />
						</button> -->
					</div>
				</li>
				<li>
					<div>
						<p>Hash</p>
					</div>
					<div class="setting">
						<span>
							{{ selectedGroup?.config?.signature?.hash }}
						</span>
						<!-- pending discussion -->
						<!-- <button>
							<img src="/assets/img/copy.svg" alt="copy" />
						</button> -->
					</div>
				</li>
				<li>
					<div>
						<p>Disable Endpoint</p>
					</div>
					<div class="setting">
						<span>
							{{ selectedGroup?.config?.disable_endpoint }}
						</span>
					</div>
				</li>
				<li>
					<div>
						<p>Group auth key</p>
					</div>
					<div class="setting">
						<span>
							{{ selectedGroup?.group_api_keys[0]?.name }}
						</span>
						<!-- pending discussion -->
						<!-- <button>
							<img src="/assets/img/copy.svg" alt="copy" />
						</button> -->
					</div>
				</li>
			</ul>
		</div>
	</div>
	<div class="modal--footer">
		<div class="button-container">
			<button class="white delete" (click)="showDeleteGroupModal = !showDeleteGroupModal">
				Delete Project
				<img src="/assets/img/trash-alt.svg" alt="delete icon" />
			</button>
			<button class="primary groups" (click)="editMode = true; showGroupSettingModal = false; showCreateGroupModal = true">
				Edit Project Settings
				<img src="/assets/img/edit-alt.svg" alt="edit icon" />
			</button>
		</div>
	</div>
</div>
<div class="modal modal__right" *ngIf="showDeleteGroupModal">
	<div class="modal--head">
		<h1>{{ selectedGroup?.name }}</h1>
		<button class="modal--close clear" (click)="showDeleteGroupModal = false">
			<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
		</button>
	</div>
	<div class="modal--body">
		<div class="delete-modal deactivate">
			<img src="/assets/img/warning.gif" alt="warning" />
			<p class="title">Are you sure you want to delete “{{ selectedGroup?.name }}”?</p>
			<p class="subtext">This action is irrevesible</p>
			<button class="danger" (click)="deleteGroup()" [disabled]="deletingGroup">{{ deletingGroup ? 'Deleting...' : 'Yes, Delete' }}</button>
			<button class="clear cancel" (click)="showDeleteGroupModal = false">No, Cancel</button>
		</div>
	</div>
</div>
