<div class="loader" *ngIf="loading && !searchMode">
	<app-loader></app-loader>
</div>
<div class="team-page page" *ngIf="!noData && !loading">
	<div class="page--head">
		<div>
			<h1>Teams</h1>
			<p>View and manage your team members.</p>
		</div>
		<div class="page--head--search">
			<app-search (searchInput)="searchTeam($event)" (clear)="fetchTeamMembers()" searchPlaceholder="Search team member here"></app-search>

			<button class="primary with-margin-left" (click)="showInviteTeamMemberModal = true; currentId = ''">Add team member</button>
		</div>
	</div>

	<div class="page--empty-state" *ngIf="searchMode && noSearch">
		<div class="page--empty-state--img">
			<img src="/assets/img/team-empty-img.svg" alt="add team empty" />
		</div>
		<h4>You have no one with the name '{{ searchText }}' on your team</h4>
	</div>
	<div class="loader" *ngIf="searchingMembers && searchMode">
		<app-loader></app-loader>
	</div>

	<table *ngIf="!noData && !noSearch && teams">
		<thead>
			<tr class="table--head">
				<th scope="col">NAME</th>
				<th scope="col">ROLE</th>
				<th scope="col">Projects</th>
				<th scope="col">STATUS</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let team of teams">
				<td>
					<div class="has-img">
						<div class="img img__round img__small">{{ team.firstname.slice(0, 1) }}{{ team.lastname.slice(0, 1) }}</div>
						{{ team.firstname }} {{ team.lastname }}
					</div>
				</td>
				<td>
					<div>{{ team.role }}</div>
				</td>
				<td>
					<div>{{ team.groups.length }} Project{{ team.groups.length == 1 ? '' : 's' }}</div>
				</td>
				<td>
					<div>
						<div class="tag tag--Success" *ngIf="team.status">Active</div>
						<div class="tag tag--Failure" *ngIf="!team.status">Inactive</div>
					</div>
				</td>
				<td>
					<div class="drop-down--container">
						<button class="has-icon clear" (click)="showDropdown(team.id)">
							<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
						</button>
						<div class="drop-down user-dropdown" *ngIf="currentId == team.id">
							<ul>
								<li class="no-hover">
									<button class="danger clear" (click)="showDeactivateModal = !showDeactivateModal; showTeamMemberDropdown = false; selectedMember = team; currentId = ''">
										Deactivate team member
									</button>
								</li>
							</ul>
						</div>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="page" *ngIf="noData && !loading">
	<div class="page--empty-state">
		<div class="page--empty-state--img">
			<img src="/assets/img/team-empty-img.svg" alt="add team empty" />
		</div>
		<h4>You have no one on your team yet</h4>
		<p>You can invite team members to join your organization and assign them roles to groups</p>
		<button class="primary" (click)="showInviteTeamMemberModal = true">Add team member</button>
	</div>
</div>

<div class="_overlay" *ngIf="showInviteTeamMemberModal || showSuccessModal || showDeactivateModal"></div>
<div class="modal modal__right" *ngIf="showCreateGroupModal">
	<app-create-group (closeModal)="closeCreateGroupModal($event)"></app-create-group>
</div>
<div class="modal modal__right" *ngIf="showInviteTeamMemberModal">
	<div class="modal--head">
		<h1>Add Team Member</h1>
		<button class="modal--close clear" (click)="showInviteTeamMemberModal = false">
			<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
		</button>
	</div>
	<div class="modal--body" *ngIf="!filteredGroups.length">
		<div class="delete-modal deactivate">
			<img src="/assets/img/no-group.svg" alt="no project" />
			<p class="title">Create a project to add team member</p>
			<p class="subtext">You currently do not have any project and need to have one to add a team member. Create one with the button below</p>
			<button class="primary" (click)="showCreateGroupModal = true; showInviteTeamMemberModal = false;">Create Project</button>
		</div>
	</div>
	<div class="modal--body" *ngIf="filteredGroups.length">
		<!-- not available yet  -->
		<!-- <div class="user-details--head">
			<div>
				<img src="/assets/img/mimoji.png" alt="profile image" />
				<button class="white">Edit Photo</button>
			</div>

			<div class="drop-down--container">
				<button class="clear has-icon" (click)="showTeamMemberDropdown = !showTeamMemberDropdown"><img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" /></button>

				<div class="drop-down user-dropdown" *ngIf="showTeamMemberDropdown">
					<ul>
						<li>
							<button class="danger clear">Deactivate team member</button>
						</li>
					</ul>
				</div>
			</div>
		</div> -->

		<form [formGroup]="inviteUserForm" (ngSubmit)="inviteUser()">
			<h3>Basic info</h3>
			<p>Invite other members of your team to your organization.</p>
			<div class="input smaller">
				<div class="input--error-message" *ngIf="inviteUserForm.controls.firstname.touched && inviteUserForm.controls.firstname.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Firstname is required</span>
				</div>
				<input type="text" id="first-name" formControlName="firstname" [ngClass]="{ invalid: inviteUserForm.controls.firstname.touched && inviteUserForm.controls.firstname.invalid }" />
				<label for="first-name">First Name</label>
			</div>

			<div class="input smaller">
				<div class="input--error-message" *ngIf="inviteUserForm.controls.lastname.touched && inviteUserForm.controls.lastname.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Lastname is required</span>
				</div>
				<input type="text" id="last-name" formControlName="lastname" [ngClass]="{ invalid: inviteUserForm.controls.lastname.touched && inviteUserForm.controls.lastname.invalid }" />
				<label for="last-name">Last Name</label>
			</div>

			<div class="input">
				<div class="input--error-message" *ngIf="inviteUserForm.controls.email.touched && inviteUserForm.controls.email.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Please enter a valid email</span>
				</div>
				<input type="email" id="email" formControlName="email" [ngClass]="{ invalid: inviteUserForm.controls.email.touched && inviteUserForm.controls.email.invalid }" />
				<label for="email">Email</label>
			</div>

			<div class="drop-down--container">
				<div class="input">
					<div class="input--error-message" *ngIf="noOfSelectedGroups && selectedGroups?.length == 0">
						<img src="assets/img/input-error-icon.svg" alt="input error icon" />
						<span>Please select at least 1 project</span>
					</div>
					<input
						type="text"
						id="group"
						[(ngModel)]="noOfSelectedGroups"
						[ngModelOptions]="{ standalone: true }"
						readonly
						(click)="showTeamGroupDropdown = !showTeamGroupDropdown"
						[ngClass]="{ invalid: noOfSelectedGroups && selectedGroups?.length == 0 }"
					/>
					<label for="group">Select project</label>
				</div>

				<div class="drop-down" *ngIf="showTeamGroupDropdown">
					<div class="input search">
						<img src="/assets/img/search-icon.svg" alt="search icon" />
						<input type="search" placeholder="Search projects here" (input)="searchGroup($event)" />
					</div>

					<ul *ngIf="filteredGroups.length">
						<li *ngFor="let group of filteredGroups">
							<label for="group-name1">{{ group.name }}</label>
							<input type="checkbox" name="group-name" id="group-name1" [checked]="group.selected" (input)="selectGroup(group)" />
						</li>
					</ul>
				</div>
			</div>

			<div class="input">
				<div class="input--error-message" *ngIf="inviteUserForm.controls.role.touched && inviteUserForm.controls.role.invalid">
					<img src="assets/img/input-error-icon.svg" alt="input error icon" />
					<span>Please select a role</span>
				</div>
				<select name="role" id="role" formControlName="role" [ngClass]="{ invalid: inviteUserForm.controls.role.touched && inviteUserForm.controls.role.invalid }">
					<option value="Admin">Admin</option>
					<option value="Dev">Dev</option>
				</select>
				<label for="role">Select Role</label>
			</div>
		</form>
	</div>

	<div class="modal--footer" *ngIf="filteredGroups.length">
		<div class="button-container">
			<button class="white" (click)="showInviteTeamMemberModal = false">Discard</button>
			<button class="primary" [disabled]="invitingUser" (click)="inviteUser()">{{ invitingUser ? 'Inviting User..' : 'Send Invite' }}</button>
		</div>
	</div>
</div>

<div class="modal modal__center" *ngIf="showSuccessModal">
	<div class="modal--body success">
		<img width="140px" src="/assets/img/success.gif" alt="success animation" />
		<p>Team member created succesfully! We sent them an email for onboarding instructions.</p>
		<button class="white" (click)="showSuccessModal = false">Close</button>
	</div>
</div>
<div class="modal modal__center" *ngIf="showDeactivateModal">
	<div class="delete-modal">
		<img src="/assets/img/warning.gif" alt="warning" />
		<p class="title">Are you sure you want to deactivate “{{ selectedMember?.firstname }} {{ selectedMember?.lastname }}”?</p>
		<p class="subtext">This action is irrevesible</p>
		<button class="danger" [disabled]="deactivatingUser" (click)="deactivateMember()">{{ deactivatingUser ? 'Deactivating...' : 'Yes, Deactivate' }}</button>
		<button class="clear cancel" (click)="showDeactivateModal = false">No, Cancel</button>
	</div>
</div>
