<div class="account-page page page__small">
	<div class="account-page--nav">
		<div class="account-page--head">
			<h2>Account Settings</h2>
		</div>
		<ul class="account-page--nav--items">
			<li class="account-page--nav--item" [ngClass]="{ active: activePage === 'profile' }">
				<button (click)="activePage = 'profile'" class="clear">Profile</button>
			</li>
			<li class="account-page--nav--item" [ngClass]="{ active: activePage === 'organisation' }">
				<button (click)="activePage = 'organisation'" class="clear">Organisation</button>
			</li>
			<li class="account-page--nav--item" [ngClass]="{ active: activePage === 'billing' }">
				<button (click)="activePage = 'billing'" class="clear">Billing & Plan</button>
			</li>

			<hr />

			<li class="account-page--nav--item">
				<a href="">Logout</a>
			</li>
		</ul>
	</div>

	<div class="account-page--view">
		<ng-container *ngIf="activePage === 'profile'">
			<div class="account-page--view--head">
				<div>
					<img src="/assets/img/mimoji.png" alt="profile image" />
					<button class="white">Edit Photo</button>
				</div>

				<button class="primary">Save Changes</button>
			</div>

			<h2>Basic Info</h2>
			<p>Amet minim mollit non deserunt ullamco est sit aliqua dolo</p>

			<form>
				<div class="input small">
					<input type="text" aria-label="first name" />
				</div>
				<div class="input small">
					<input type="text" aria-label="last name" />
				</div>

				<div class="input">
					<input type="email" aria-label="email" />
				</div>

				<div class="input extra-space">
					<input type="tel" inputmode="tel" aria-label="phone number" />
				</div>
			</form>

			<h2>Change Password</h2>
			<p>Here you can change your password should it be compromised.</p>
			<button class="white">Change password</button>
		</ng-container>

		<ng-container *ngIf="activePage === 'organisation'">
			<h2>Account Info</h2>
			<p>Amet minim mollit non deserunt ullamco est sit aliqua dolo</p>

			<form>
				<div class="input small">
					<input type="text" aria-label="first name" />
				</div>
				<div class="input small">
					<input type="text" aria-label="last name" />
				</div>

				<div class="input">
					<input type="email" aria-label="email" />
				</div>

				<div class="input small">
					<input type="text" aria-label="first name" />
				</div>
				<div class="input small">
					<input type="text" aria-label="last name" />
				</div>

				<div class="input small">
					<input type="text" aria-label="first name" />
				</div>
				<div class="input small">
					<input type="text" aria-label="last name" />
				</div>

				<div class="input">
					<textarea></textarea>
				</div>
			</form>

			<h2 class="danger">Danger zone</h2>
			<p>Deactivating your account means you will lose all workspaces created by you and all your every other account information.</p>
			<button class="white">Deactivate Account</button>
		</ng-container>
	</div>
</div>
