table {
	background: #ffffff;
	border: 1px solid #edeff5;
	border-radius: 10px;

	th {
		color: #000624;
		font-weight: bold;
		font-size: 12px;
		line-height: 200%;
		padding: 18px 16px;
	}

	thead {
		border-bottom: 1px solid #edeff5;
	}

	tbody tr td > div {
		padding: 16px;
	}

	.has-img {
		display: flex;
		align-items: center;
	}

	.tag {
		border-radius: 22px;
		padding: 1px 12px;
	}

	button {
		padding: 6px;
		background: #f5f5f7;
		border-radius: 7px;
	}
}
