<div class="team-page page">
	<div class="page--head">
		<div>
			<h1>Teams</h1>
			<p>A definition of what a team is goes here</p>
		</div>

		<button class="primary">Add team member</button>
	</div>

	<table>
		<thead>
			<tr class="table--head">
				<th scope="col">NAME</th>
				<th scope="col">ROLE</th>
				<th scope="col">Groups</th>
				<th scope="col">STATUS</th>
				<th scope="col"></th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<div class="has-img">
						<div class="img img__round img__small">BL</div>
						Elizabeth Adekola
					</div>
				</td>
				<td>
					<div>Role goes here</div>
				</td>
				<td>
					<div>All Groups</div>
				</td>
				<td>
					<div>
						<div class="tag tag--Success">Active</div>
					</div>
				</td>
				<td>
					<div>
						<button class="has-icon clear">
							<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="has-img">
						<div class="img img__round img__small">BL</div>
						Elizabeth Adekola
					</div>
				</td>
				<td>
					<div>Role goes here</div>
				</td>
				<td>
					<div>All Groups</div>
				</td>
				<td>
					<div>
						<div class="tag tag--Success">Active</div>
					</div>
				</td>
				<td>
					<div>
						<button class="has-icon clear">
							<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="has-img">
						<div class="img img__round img__small">BL</div>
						Elizabeth Adekola
					</div>
				</td>
				<td>
					<div>Role goes here</div>
				</td>
				<td>
					<div>All Groups</div>
				</td>
				<td>
					<div>
						<div class="tag tag--Success">Active</div>
					</div>
				</td>
				<td>
					<div>
						<button class="has-icon clear">
							<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="has-img">
						<div class="img img__round img__small">BL</div>
						Elizabeth Adekola
					</div>
				</td>
				<td>
					<div>Role goes here</div>
				</td>
				<td>
					<div>All Groups</div>
				</td>
				<td>
					<div>
						<div class="tag tag--Success">Active</div>
					</div>
				</td>
				<td>
					<div>
						<button class="has-icon clear">
							<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
						</button>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<div class="has-img">
						<div class="img img__round img__small">BL</div>
						Elizabeth Adekola
					</div>
				</td>
				<td>
					<div>Role goes here</div>
				</td>
				<td>
					<div>All Groups</div>
				</td>
				<td>
					<div>
						<div class="tag tag--Success">Active</div>
					</div>
				</td>
				<td>
					<div>
						<button class="has-icon clear">
							<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
						</button>
					</div>
				</td>
			</tr>
		</tbody>
	</table>
</div>

<div class="page">
	<div class="page--empty-state">
		<div class="page--empty-state--img">
			<img src="/assets/img/team-empty-img.svg" alt="add team empty" />
		</div>
		<h4>You have no one on your team yet</h4>
		<p>You can invite team members to join your organization and assign them roles to groups</p>
		<button class="primary">Add team member</button>
	</div>
</div>
