<div class="page">
	<div class="get-started">
		<h2>Welcome, {{ authDetails()?.user?.profile?.firstname }} {{ authDetails()?.user?.profile?.lastname }} 🌤</h2>
		<div class="subtext">Here is what you can do to get started with Convoy</div>
		<div class="get-started__cards">
			<div class="get-started__cards_item green">
				<h3>Invite members to your team</h3>
				<p>Add team members to your Convoy organization so everyone has access to manage webhooks across all environments</p>
				<button routerLink="/team">Invite Team Members</button>
			</div>
			<div class="get-started__cards_item yellow">
				<h3>Setup projects for your products</h3>
				<p>Connect your various webhooks products with each project and track their metrics separately</p>
				<button routerLink="/projects">Go to Projects</button>
			</div>
			<div class="get-started__cards_item purple">
				<h3>Customize your App Portal</h3>
				<p>Your App Portal is the window you provide your customers to view and manage their webhooks.</p>
				<button>Configure App Portal</button>
			</div>
		</div>
		<div class="plan">
			<img src="/assets/img/ideas.svg" alt="idea" />
			<div>
				<p>We only charge you for webhook events sents at 1$/5k events.</p>
				<br />
				<a>Upgrade Plan</a>
			</div>
		</div>
	</div>
</div>
