<div class="groups-page page">
	<div class="page--head">
		<div>
			<h1>Groups</h1>
			<p>A definition of what a group is goes here</p>
		</div>

		<button class="primary">Create Group</button>
	</div>

	<ul class="groups">
		<li class="group">
			<div class="group--head">
				<h4>Group Name</h4>
			</div>
			<div class="group--metric">
				<div>
					<span>234</span>
					Message Sent
				</div>
				<div>
					<span>24</span>
					Apps
				</div>
			</div>
			<div class="group--body">
				<img src="/assets/img/chart-icon.svg" alt="graph icon" />
			</div>
		</li>

		<li class="group">
			<div class="group--head">
				<h4>Group Name</h4>
			</div>
			<div class="group--metric">
				<div>
					<span>234</span>
					Message Sent
				</div>
				<div>
					<span>24</span>
					Apps
				</div>
			</div>
			<div class="group--body">
				<img src="/assets/img/chart-icon.svg" alt="graph icon" />
			</div>
		</li>

		<li class="group">
			<div class="group--head">
				<h4>Group Name</h4>
			</div>
			<div class="group--metric">
				<div>
					<span>234</span>
					Message Sent
				</div>
				<div>
					<span>24</span>
					Apps
				</div>
			</div>
			<div class="group--body">
				<img src="/assets/img/chart-icon.svg" alt="graph icon" />
			</div>
		</li>

		<li class="group">
			<div class="group--head">
				<h4>Group Name</h4>
			</div>
			<div class="group--metric">
				<div>
					<span>234</span>
					Message Sent
				</div>
				<div>
					<span>24</span>
					Apps
				</div>
			</div>
			<div class="group--body">
				<img src="/assets/img/chart-icon.svg" alt="graph icon" />
			</div>
		</li>
	</ul>
</div>
