<header class="dashboard--header">
	<div class="dashboard--header--container">
		<div class="dashboard--header--nav">
			<a target="_blank" class="logo" href="https://getconvoy.io" rel="noreferrer">
				<img src="/assets/img/logo.svg" alt="convoy logo" />
			</a>

			<nav>
				<ul>
					<li>
						<a routerLink="/dashboard" routerLinkActive="active">Getting Started</a>
					</li>
					<li>
						<a routerLink="/groups" routerLinkActive="active">Groups</a>
					</li>
					<li>
						<a routerLink="/team" routerLinkActive="active">Team</a>
					</li>
				</ul>
			</nav>
		</div>

		<div class="dashboard--header--acounts">
			<a target="_blank" href="https://getconvoy.io/docs" rel="noreferrer" class="has-icon icon-left">
				<img src="/assets/img/doc-icon-primary.svg" alt="doc icon" />
				Go to docs
			</a>

			<div class="dropdown--container">
				<button class="has-icon icon-left" (click)="showOrgDropdown = !showOrgDropdown" *ngIf="authDetails()">
					<div class="has-icon">
						<div class="icon">O</div>
						<div class="name">{{ authDetails().username }}</div>
					</div>
					<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
				</button>

				<div *ngIf="showOrgDropdown" class="dropdown organisations">
					<div class="dropdown--head">
						<h3>Your organisations (3)</h3>
					</div>
					<ul>
						<li>
							<div class="organisation--name">
								<div class="img img__round img__small">BL</div>
								<p>Organisation Name</p>
							</div>
							<img src="/assets/img/check-icon-primary.svg" alt="check icon" />
						</li>
						<li>
							<div class="organisation--name">
								<div class="img img__round img__small">BL</div>
								<p>Organisation Name</p>
							</div>
						</li>
					</ul>
					<div class="dropdown--footer">
						<button class="has-icon icon-left clear">
							<img src="/assets/img/add-circlar-icon.svg" alt="add icon" />
							Add another organisation
						</button>
					</div>
				</div>
			</div>

			<div class="dropdown--container">
				<button class="more-icon has-icon" (click)="showMoreDropdown = !showMoreDropdown">
					<img src="/assets/img/nav-bar-more-primary.svg" alt="more icon" />
				</button>

				<div *ngIf="showMoreDropdown" class="dropdown more">
					<div class="dropdown--head">
						<h3>Kayode Sholanke</h3>
						<p>Product Designer</p>
					</div>
					<ul>
						<li>
							<p>My account</p>
						</li>
						<li>
							<p>Docs</p>
						</li>
						<li (click)="logout()">
							<p>Billing</p>
						</li>
					</ul>
					<div class="dropdown--footer">
						<button class="danger clear">Logout</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>

<router-outlet></router-outlet>
