.dashboard--header {
	background: #ffffff;
	width: 100%;

	&--container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 1374px;
		margin: auto;
		background: #ffffff;
		padding: 12px 20px;
	}

	.logo {
		img {
			width: 100px;
		}
	}

	.organisations {
		width: 440px;
	}

	.more {
		width: 264px;
	}

	&--nav {
		display: flex;
		align-items: center;

		nav {
			margin-left: 91px;

			ul {
				display: flex;
				align-items: center;

				li {
					&:not(:last-of-type) {
						margin-right: 32px;
					}

					a {
						padding: 12px 15px;
						font-size: 14px;
						font-weight: 500;
						color: #737a91;

						&.active {
							background: #edf2f7;
							border-radius: 4px;
							color: var(--primary-color);
							font-weight: 600;
						}
					}
				}
			}
		}
	}

	&--acounts {
		display: flex;
		align-items: center;

		a {
			white-space: nowrap;
			margin-right: 32px;
			color: var(--primary-color);
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
		}
	}

	button.more-icon.has-icon {
		background: #f8f8fa;
		border-radius: 4px;
		margin-left: 16px;
		padding-left: 14px;
		padding-right: 14px;
	}
}

.dropdown--container {
	border-radius: 4px;
	width: 100%;
	position: relative;

	& > button {
		padding: 11px 16px;
		background: #f8f8fa;
		justify-content: space-between;

		img {
			margin: 0;
		}
	}

	.icon {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #32587d;
		color: #ffffff;
		border-radius: 50%;
	}

	.name {
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		max-width: 139px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		margin-right: 20px;
	}

	.dropdown {
		position: absolute;
		top: 50px;
		background: #ffffff;
		border: 1px solid #edf2f7;
		box-shadow: 0px 2px 8px rgba(12, 26, 75, 0.08), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
		border-radius: 12px;
		right: 0;
		z-index: 10;

		&--head {
			padding: 24px 32px 12px;
			border-bottom: 1px solid #edeff5;

			h3 {
				font-weight: 600;
				font-size: 14px;
				line-height: 22px;
				color: #737a91;
			}

			p {
				font-size: 12px;
				line-height: 200%;
				color: #737a91;
				margin-top: 4px;
			}
		}

		&--footer {
			padding: 24px 32px;
			border-top: 1px solid #edeff5;
			background: #fcfcfc;
			border-radius: 0px 0px 12px 12px;
		}

		ul {
			min-height: 161px;
		}

		li {
			text-align: left;
			padding: 16px 32px;
			width: 100%;
			font-size: 14px;
			cursor: pointer;
			display: flex;
			align-items: center;
			justify-content: space-between;

			p {
				font-weight: 500;
				font-size: 14px;
				line-height: 22px;
				color: #000624;
			}
		}

		.organisation--name {
			display: flex;
			align-items: center;
		}

		.img {
			width: 24px;
			height: 24px;
			background: #000624;
			border-radius: 50px;
			display: flex;
			align-items: center;
			justify-content: center;
			color: #edeff5;
			font-size: 10px;
			text-align: center;
			margin-right: 16px;
		}
	}
}
