<div class="modal--head">
	<h1>Add an Organization</h1>
	<button class="modal--close clear" (click)="close()">
		<img src="/assets/img/modal-close-icon.svg" alt="close icon" />
	</button>
</div>

<div class="modal--body">
	<form [formGroup]="addOrganisationForm" (ngSubmit)="addNewOrganisation()">
		<div class="input file-input">
			<button class="white">Click to Upload logo</button>
		</div>
		<div class="input">
			<label for="group-name">Organisation Name</label>
			<input type="text" id="group-name" formControlName="name" />
			<div class="input--error-message" *ngIf="addOrganisationForm.controls.name.touched && addOrganisationForm.controls.name.invalid">
				<img src="assets/img/input-error-icon.svg" alt="input error icon" />
				<span>Name is required</span>
			</div>
		</div>
	</form>
</div>

<div class="modal--footer">
	<div class="button-container">
		<button class="white" (click)="close()">Discard</button>
		<button class="primary" (click)="addNewOrganisation()">Create Organisation</button>
	</div>
</div>
