<div class="loader" *ngIf="showLoader">
	<app-loader></app-loader>
</div>
<div class="group-dashboard">
	<div class="group-dashboard-head">
		<div class="group-name">
			<button (click)="goBack()">
				<img src="/assets/img/arrow-left.svg" alt="go back" />
			</button>
			{{ groupDetails?.name }}
		</div>
		<div class="filter" [ngClass]="{ 'show-calendar': showFilterCalendar }">
			<div>Filter by:</div>
			<button class="filter--button" (click)="statsPicker.open()">
				<img src="/assets/img/calendar-icon.svg" alt="calender icon" />
				<mat-date-range-input [formGroup]="statsDateRange" [rangePicker]="statsPicker">
					<input matStartDate formControlName="startDate" placeholder="Start date" />
					<input matEndDate formControlName="endDate" placeholder="End date" (dateChange)="fetchGroupData()" />
				</mat-date-range-input>
				<mat-date-range-picker #statsPicker [disabled]="false"></mat-date-range-picker>
				<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
			</button>
		</div>
	</div>
	<div class="group-dashboard-details">
		<div class="group-dashboard-details-chart">
			<div class="card">
				<h3>
					Message sent
					<img src="/assets/img/alert-circle.svg" alt="messages" />
				</h3>
				<div>
					<canvas id="messagesCanvas" height="150"></canvas>
				</div>
			</div>
		</div>
		<div class="card has-title group-dashboard-details-credentials">
			<div class="card--title">
				<h2>Configuration</h2>
			</div>

			<ul class="card--container">
				<li class="list-item">
					<div class="list-item--label">Request interval (Seconds)</div>
					<div class="list-item--item">{{ groupDetails?.config?.strategy?.default?.intervalSeconds }}s</div>
				</li>

				<li class="list-item">
					<div class="list-item--label">Retry limit</div>
					<div class="list-item--item">{{ groupDetails?.config?.strategy?.default?.retryLimit }}</div>
				</li>

				<li class="list-item">
					<div class="list-item--label">Signature header</div>
					<div class="list-item--item">{{ groupDetails?.config?.signature?.header }}</div>
				</li>

				<li class="list-item">
					<div class="list-item--label">Signature hash</div>
					<div class="list-item--item">{{ groupDetails?.config?.signature?.hash }}</div>
				</li>
			</ul>
			<div class="edit-credentials">
				<button (click)="showEditGroupModal = true">
					<img src="/assets/img/blue-edit.svg" alt="edit icon" />
					Edit Configuration
				</button>
			</div>
		</div>
	</div>
	<section class="card group-dashboard-logs">
		<div class="group-dashboard-logs-tabs">
			<div class="group-dashboard-logs-tabs--head tabs">
				<div class="tabs">
					<button *ngFor="let tab of tabs" (click)="switchActiveTab(tab)" class="clear tab" [ngClass]="{ active: activeTab === tab }">
						{{ tab }}
					</button>
				</div>
			</div>

			<div class="table">
				<ng-container *ngIf="activeTab === 'messages'">
					<div class="filter">
						<button
							class="filter--button date-filter-button"
							(click)="eventsFilterPicker.open()"
							[ngClass]="{ active: eventsFilterDateRange.value.startDate !== '' && eventsFilterDateRange.value.endDate !== '' }"
							(click)="showEventFilterCalendar = !showEventFilterCalendar"
						>
							<img src="/assets/img/calendar-icon.svg" alt="calender icon" />
							<mat-date-range-input [formGroup]="eventsFilterDateRange" [rangePicker]="eventsFilterPicker">
								<input matStartDate formControlName="startDate" placeholder="Start date" />
								<input matEndDate formControlName="endDate" placeholder="End date" (dateChange)="getEvents({ addToURL: true })" />
							</mat-date-range-input>
							<mat-date-range-picker #eventsFilterPicker [disabled]="false"></mat-date-range-picker>
							<img src="/assets/img/angle-arrow-down.svg" alt="arrow down icon" />
						</button>

						<div class="select">
							<select [ngClass]="{ active: !!eventApp }" aria-label="frequency" [(ngModel)]="eventApp" (change)="getEvents({ addToURL: true })">
								<option value="">All Apps</option>
							</select>
						</div>

						<button
							class="filter--button primary events-filter-clear-btn"
							(click)="clearEventFilters(activeTab)"
							[disabled]="(eventsFilterDateRange.value.startDate == '' || eventsFilterDateRange.value.endDate == '') && eventApp == ''"
							[ngClass]="{ disabled: (eventsFilterDateRange.value.startDate == '' || eventsFilterDateRange.value.endDate == '') && eventApp == '' }"
						>
							Clear Filter
						</button>
					</div>

					<hr />

					<div class="table--container smaller-table">
						<table id="events-table">
							<thead>
								<tr class="table--head">
									<th scope="col">Status</th>
									<th scope="col">Event Type</th>
									<th scope="col">Event ID</th>
									<th scope="col">Created</th>
									<th scope="col">Next Entry</th>
								</tr>
							</thead>
							<tbody>
								<ng-container>
									<tr>
										<td>
											<div class="status">200 OK</div>
										</td>
										<td><div>customer.created</div></td>
										<td><div>evt-136776hjfy76734uh5j</div></td>
										<td><div>3 Aug,2021</div></td>
										<td>
											<button class="resend">
												<img src="/assets/img/resend.svg" alt="resend" />
												Resend
											</button>
										</td>
									</tr>
								</ng-container>
								<ng-container>
									<tr>
										<td>
											<div class="status">200 OK</div>
										</td>
										<td><div>customer.created</div></td>
										<td><div>evt-136776hjfy76734uh5j</div></td>
										<td><div>3 Aug,2021</div></td>
										<td>
											<button class="resend">
												<img src="/assets/img/resend.svg" alt="resend" />
												Resend
											</button>
										</td>
									</tr>
								</ng-container>
							</tbody>
						</table>
					</div>

					<!-- <div class="empty-state table--container">
						<img src="/assets/img/messages-empty.svg" alt="empty state" />
						<p>No messages have been sent from this environment in the last month.</p>
					</div> -->
				</ng-container>
			</div>
		</div>
		<div class="group-dashboard-logs-details">
			<h3>Details</h3>
			<ul class="group-dashboard-logs-details--meta">
				<ng-container>
					<li class="list-item-inline">
						<div class="list-item-inline--label">Time</div>
						<div class="list-item-inline--item">Aug 5, 2021 12:23PM</div>
					</li>
					<li class="list-item-inline">
						<div class="list-item-inline--label">IP Address</div>
						<div class="list-item-inline--item">54.123.246.72</div>
					</li>
					<li class="list-item-inline">
						<div class="list-item-inline--label">API version</div>
						<div class="list-item-inline--item color">2021-08-27</div>
					</li>
				</ng-container>
			</ul>

			<ul class="tabs">
				<li *ngFor="let tab of detailsTabs" class="tab" [ngClass]="{ active: detailsActiveTab === tab.id }">
					<button class="primary outline" (click)="switchDetailsActiveTab(tab.id)">{{ tab.label }}</button>
				</li>
			</ul>
		</div>
	</section>
</div>
<div class="overlay" *ngIf="showEditGroupModal"></div>
<div class="modal modal__right" *ngIf="showEditGroupModal">
	<app-create-group (closeModal)="showEditGroupModal = false; getGroupDetails()" [selectedGroup]="groupDetails" [editMode]="editMode"></app-create-group>
</div>
