.dropdown--container {
	border-radius: 4px;
	width: 100%;
	position: relative;

	& > button {
		padding: 11px 16px;
		background: #f8f8fa;
		justify-content: space-between;

		img {
			margin: 0;
		}
	}

	.icon {
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		background: #32587d;
		color: #ffffff;
		border-radius: 50%;
	}

	.name {
		font-weight: 500;
		font-size: 14px;
		line-height: 14px;
		max-width: 139px;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		margin-right: 20px;
	}
}
.dropdown {
	background: #ffffff;
	border: 1px solid #edf2f7;
	box-shadow: 0px 2px 8px rgba(12, 26, 75, 0.08), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
	border-radius: 12px;
	z-index: 10;

	&.more,
	&.organisations {
		position: absolute;
		right: 0;
		top: 50px;
	}
	&.groups {
		position: absolute;
		max-width: 264px;
		margin-top: -120px;
		margin-left: +145px;
		li {
			&:hover {
				max-width: 264px;
			}
		}
	}

	&--head {
		padding: 24px 32px 12px;
		border-bottom: 1px solid #edeff5;

		h3 {
			font-weight: 600;
			font-size: 14px;
			line-height: 22px;
			color: #737a91;
		}

		p {
			font-size: 12px;
			line-height: 200%;
			color: #737a91;
			margin-top: 4px;
		}
	}

	&--footer {
		padding: 24px 32px;
		border-top: 1px solid #edeff5;
		background: #fcfcfc;
		border-radius: 0px 0px 12px 12px;
	}

	ul {
		min-height: 161px;
	}

	li {
		text-align: left;
		padding: 16px 32px;
		width: 100%;
		font-size: 14px;
		cursor: pointer;
		display: flex;
		align-items: center;
		justify-content: space-between;
		transition: background 0.2s ease-in-out;

		&:hover {
			background: #edf2f7;
		}

		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			color: #000624;
			&.delete {
				color: #f25a68;
			}
		}
	}
}
