.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.auth-page {
	background: url('/assets/img/background-pattern.svg') no-repeat #fafafe;
	background-position: center;
	min-height: 100vh;
	display: flex;
	align-items: center;
	background-size: cover;
	padding: 100px 20px 20px;

	&--container {
		max-width: 510px;
		margin: 157px auto 0;
		margin: 0 auto;
		width: 100%;
		text-align: center;

		h3 {
			font-weight: bold;
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 9px;
		}

		p {
			font-size: 16px;
			line-height: 24px;
			color: #626e85;
		}

		form {
			text-align: left;
			margin-top: 32px;
		}
	}

	.logo {
		margin-bottom: 40px;
		width: 109px;
	}
}

.page {
	width: 1374px;
	margin: 32px auto;
	padding: 0 2rem;

	&--head {
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin-bottom: 23px;

		h1 {
			font-weight: bold;
			font-size: 16px;
			line-height: 30px;
			margin-bottom: 1px;
		}

		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			color: #737a91;
		}

		button {
			padding: 8px 32px;
			font-size: 14px;
		}
	}

	&__small {
		max-width: 920px;
		background: #ffffff;
		border: 1px solid #edeff5;
		border-radius: 8px;
	}

	&--empty-state {
		background: #ffffff;
		border: 1px solid #edeff5;
		border-radius: 10px;
		height: 550px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;

		h4 {
			font-size: 16px;
			line-height: 30px;
			margin-top: 24px;
		}

		p {
			font-weight: 500;
			font-size: 14px;
			line-height: 22px;
			color: #737a91;
			width: 384px;
			text-align: center;
		}

		button {
			margin-top: 30px;
		}
	}
}

.img {
	width: 24px;
	height: 24px;
	background: #000624;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #edeff5;
	font-size: 10px;
	text-align: center;
	margin-right: 16px;
}

.user-details--head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #edeff5;
	padding-bottom: 26px;

	& > div {
		display: flex;
		align-items: center;

		img {
			margin-right: 16px;
		}

		button.white {
			margin: 0;
			padding: 6px 13px;
			font-weight: 500;
			font-size: 12px;
			line-height: 200%;
			color: #32587d;
		}
	}

	button.primary {
		padding: 8px 18px;
		font-size: 14px;
	}
}
